.pytest_cache
.python-version
build
dist
elemental.egg-info
elemental/main.py
elemental/Keys.py
elemental/.DS_Store
elemental/templates/.DS_Store
venv
.coverage
.DS_Store

__pycache__
.idea
.coverage
